doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    #app
      main-header
      .navContentContainer.flex
        .main-content(class="w-4/5 lg:w-5/6 flex-col inline-block align-top")
          block content
      main-footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
    script(src="https://meetings.aeries.tools/external_api.js")
    script(src="/javascripts/bundle.js")
    script(src="/javascripts/d3.v5.min.js")
    // Matomo
    script(type='text/javascript').
      
      function getCookieValue(a) {
        var b = document.cookie.match('(^|[^;]+)\\\s*' + a + '\\s*=\\s*([^;]+)');
        return b ? b.pop() : '';
      }
      
      var kanbanToken = getCookieValue('Meteor.loginToken:/:/kanban')
      var kanbanUserID = getCookieValue("Meteor.userId:/:/kanban")
      localStorage.setItem('Meteor.loginToken:/:/kanban', kanbanToken)
      localStorage.setItem('Meteor.userId:/:/kanban', kanbanUserID)

      var userID = getCookieValue('meid');

      //Matomo
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['setUserId', userID]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
      var u="//stats.aeries.com/statistics/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '11']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();


